.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  background: lightblue;
  color: white;
}

.links a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}
